@model FrontPage
@{
    ViewBag.Title = "Home Page";
}


<div class="row even" id="cover">
    @if (!(Model.Sliders.Count() > 1))
    {
        var image = Model.Sliders.FirstOrDefault();

        <div class="col-md-12 col-lg-6 mr-auto ml-auto">
            <div id="carouselExampleSlidesOnly container" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/img/images/@image.IMAGE" alt="" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="col-md-12 col-lg-6 mr-auto ml-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    @for (int i = 1; i < Model.Sliders.Count(); i++)
                    {
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    }
                </ol>
                <div class="carousel-inner">
                    @foreach (var item in Model.Sliders)
                    {
                        if (item.Equals(Model.Sliders.FirstOrDefault()))
                        {
                            <div class="carousel-item active">
                                <a href="@Url.Action("Product","Home", new { id = item.URI })"><img class="d-block w-100" src="~/img/images/@item.IMAGE" alt="First slide"></a>
                                <div class="carousel-caption d-md-block">
                                    @Html.Raw(item.NAME)
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item">
                                <a href="@Url.Action("Product","Home", new { id = item.URI })"><img class="d-block w-100" src="~/img/images/@item.IMAGE" alt="First slide"></a>
                                <div class="carousel-caption d-md-block">
                                    @Html.Raw(item.NAME)
                                </div>
                            </div>
                        }
                    }
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    }
</div>
<div class="row odd">
    <div class="col-md-12 align-items-center">
        <div class="intro-content content" id="intro">
            @Html.Raw(Model.Intro.CONTENTS)
        </div>
    </div>
</div>
<div class="row even">
    <div class="col-12 col-lg-8 mr-auto ml-auto">
        <div class="row">
            <div class="col-12 content" id="product"><h2>Sản phẩm</h2></div>
            @foreach (var item in Model.Posts)
            {
                <div class="col-6">
                    <div class="intro-product relative">
                        <a href="@Url.Action("Product","Home",new { id = item.ID })">
                            <div class="img-area relative">
                                <div class="overlay-image overlay-bg">
                                    <i class="far fa-eye"></i>
                                </div>
                                <img src="~/img/images/@item.AVARTAR"
                                     class="img-fluid"
                                     alt="" />
                            </div>
                            <p>@item.OPTIONAL</p>
                            <h4>@item.TITLE</h4>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="row odd">
    <div class="col-md-12 col-lg-8 mr-auto ml-auto ">
        <div class="content blog">
            <h2>Quy trình hoạt động của chúng tôi</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        width="560"
                        height="315"
                        src="@Model.Youtube.DESCRIP"
                        frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
@*<div class="row even">
    <div class="col-md-12 col-lg-8 mr-auto ml-auto">
        <div class="content blog">
            <h2>Hỗ trợ tư vấn</h2>
            <p>
                Let us know what you're looking for in an angency. We'll take a
                look and see
            </p>
            <p>If this could be the start of something beautiful</p>
        </div>
    </div>
</div>*@
