@model POST
@{
    ViewBag.Title = $"{Model.TITLE}";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";
}
<div class="row product">
    <div class="col-6">
        <img src="~/img/images/@Model.AVARTAR" alt="" class="img-thumbnail" />
    </div>
    <div class="col-6">
        <div class="row">
            <div class="col-12">
                <h2>@Model.TITLE</h2>
                <h3>@String.Format("{0:n0}", Model.PRICE)</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                @using (Html.BeginForm("AddItem", "Cart", FormMethod.Post, new { @class = "form-inline", style = "padding-left:0; margin-left:0;" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("ID", Model.ID)
                    <input type="number" name="quantity" id="" class="form-control col-4" />
                    <button class="btn btn-success col-8">Thêm vào giỏ</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h3>Giới thiệu</h3>
        @Html.Raw(Model.CONTENT)
    </div>
</div>
