@model IEnumerable<CART>
@{
    ViewBag.Title = "Index";
}

<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Overview</li>
</ol>

<!-- DataTables Example -->
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Danh sách đơn đặt hàng
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered text-center" id="dataTable">
                <thead>
                    <tr>
                        <th>Mã</th>
                        <th>Khách hàng</th>
                        <th>Địa Chỉ</th>
                        <th>Số điện thoại</th>
                        <th>Email</th>
                        <th>Ghi chú</th>
                        <th>Chi tiết</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.BILL_ID</td>
                            <td>@item.CUSTOMER</td>
                            <td>@item.ADDRESS</td>
                            <td>@item.PHONENUMBER</td>
                            <td>@item.EMAIL</td>
                            <td>@item.INFOS</td>
                            <td><i class="fa fa-info-circle"></i></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->
