@model POST_CATE
@{
    ViewBag.Title = "PostCateUpdateView";
}
<div class="card">
    <div class="card-header">
        <i class="fas fa-edit"></i> Cập nhật nhóm hàng
    </div>
    <div class="card-body mb-3">
        @using (Html.BeginForm("PostCateUpdate", "Admin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(z=>z.ID)
            <div class="form-group row">
                @Html.LabelFor(z => z.CATE_NAME, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(z => z.CATE_NAME, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group row">
                @Html.LabelFor(z => z.DESCRIP, new { @class = "col-sm-2 col-form-label" })
                <div class="col-sm-10">
                    @Html.TextBoxFor(z => z.DESCRIP, new { @class = "form-control" })
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Cập nhật</button>
        }
    </div>
</div>
