@{
    var binding = new DataBingding();
    var facebook = binding.GetFacebook();
    var instagram = binding.GetInstagram();
    var logo = binding.Logo();
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <meta http-equiv="content-language" content="vi" />
    <meta name="Title" content="@ViewBag.Title">
    <meta name="keywords" content="nivan" />
    <meta name="description" content="Các sản phẩm của NIVAN đều được sản xuất bởi quy trình và công nghệ hiện đại cùng đội ngũ chuyên gia nghiên cứu giàu kinh nghiệm, chuyên sản xuất các dòng mỹ phẩm cao cấp. Ngoài ra, trước khi được phân phối rộng rãi ra thị trường, các sản phẩm của NIVAN đều phải trải qua những quy trình kiểm duyệt chất lượng khắt khe." />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome/all.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-custom fixed-top bg-dark">
            <a href="@Url.Action("Index","Home")"><img src="~/img/images/@logo.CONTENTS" style="max-width:150px" /></a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarCollapse"
                    aria-controls="navbarCollapse"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            Trang chủ <span class="sr-only"> (current) </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")#product"> Sản phẩm </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Home")#intro"> Giới thiệu </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index","Cart")"> Giỏ hàng </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container-fluid body-content product-container" role="main">
        @RenderBody()
    </main>
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-3">
                    <a href="@facebook.DESCRIP"><i id="facebook" class="fab fa-facebook fa-5x"></i></a>
                </div>
                <div class="col-6"></div>
                <div class="col-3">
                    <a href="@instagram.DESCRIP">
                        <i id="instagram" class="fab fa-instagram fa-5x"></i>
                    </a>
                </div>
            </div>
        </div>
    </footer>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
